<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="engagementTrackingApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container-fluid" ng-controller="trackingCtrl">
      <div class="row header">
          <div class="col-sm-10">
              <h2 class="header-title">Notification API</h2>
              <p ng-cloak>Engagement tracking for server {{selectedServer.serverId}} (v{{selectedServer.trackingVersion}}) | Showing {{notifications.length}} results</p>
          </div>
          <div class="col-sm-2">
              <div class="form-group">
                  <label for="serverSelect">Server ID: </label>
                  <select 
                      class="custom-select" 
                      name="serverSelect" 
                      ng-options="server.serverId for server in servers track by server._id"
                      ng-model="selectedServer"
                      ng-change="selectServer(selectedServer)">                      
                  </select>
              </div>   
          </div> 
      </div>
      
      <table class="table">
          <thead>
              <tr>
                  <th><a href="">Server ID </a></th>
                  <th>
                      <a ng-click="sortByColumn('unixTime')" href="">DateTime </a>
                      <a href=""><i class="fas fa-filter"></i></a>
                  </th>
                  <th>
                      <a ng-click="sortByColumn('address')" href="">Address </a>
                      <a href=""><i class="fas fa-filter"></i></a>
                      
                  </th>
                  <th><a ng-click="sortByColumn('trackingType')" href="">Type </a><i class="fas fa-filter"></i></th>
                  <th><a ng-click="sortByColumn('mailingId')" href="">Mailing ID </a><i class="fas fa-filter"></i></th>
                  <th><a ng-click="sortByColumn('messageId')" href="">Message ID </a><i class="fas fa-filter"></i></th>
                  <th><a ng-click="sortByColumn('clientIp')" href="">Client IP </a><i class="fas fa-filter"></i></th>
                  <th><a ng-click="sortByColumn('userAgent')" href="">User Agent </a><i class="fas fa-filter"></i></th>
              </tr>
          </thead>
          <tbody>
                 <tr ng-repeat="item in notifications | filter: dateRange(unixTime) | orderBy: sortBy">
                  <td>{{item.serverId}}</td>   
                  <td>{{item.dateTime}}</td>
                  <td>{{item.address}}</td>
                  <td>{{item.trackingType | trackingType}}</td>
                  <td>{{item.mailingId}}</td>
                  <td>{{item.messageId}}</td>
                  <td>{{item.clientIp}}</td>
                  <td>{{item.userAgent}}</td>
              </tr>
          </tbody>
      </table>
  </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/trackingCtrl.js"></script>
        <script src="scripts/filters.js"></script>
        <!-- endbuild -->
</body>
</html>
